<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Moved custom report to standard MRP Reporting menu -->
    <menuitem id="menu_textile_production_report" name="Textile Manufacturing Report" parent="mrp.menu_mrp_reporting" action="action_report_textile_production" sequence="99"/>
    <menuitem id="menu_textile_wip_log" name="Production History" parent="mrp.menu_mrp_reporting" action="action_textile_wip_log" sequence="100"/>
</odoo>
